server:
  port: 8080

external:
  api:
    base-url: hhtp://localhost:9090 # Skutečná URL externího API

connector:
  retry:
    max-attempts: 3 # Maximální počet pokusů (1 originál + 2 opakování)
    delay-ms: 1500 # Prodleva mezi pokusy v ms