server:
  port: 8080

external:
  api:
    base-url: http://localhost:9090 # Skutečná URL externího API

connector:
  retry:
    max-attempts: 3 # Maximální počet pokusů (1 originál + 2 opakování)
    delay-ms: 1500 # Prodleva mezi pokusy v ms

  # Tento klíč bude Middleware vyžadovat v hlavičce X-API-KEY
security:
  api-key: "moje-tajne-heslo-12345"

# Pokud je potřeba vidět detaily o tom, jak security filtry pracují:
logging:
  level:
    org.springframework.security: DEBUG

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: krematos-middleware
  r2dbc:
    url: r2dbc:postgresql://postgres:5432/krematos_db
    username: Krematos_User
    password: Krematos_Pass
  datasource:
    url: jdbc:postgresql://postgres:5432/krematos_db
    username: Krematos_User
    password: Krematos_Pass
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always # Inicializace DB při startu aplikace
  cloud:
    function:
      definition: processFailedTransaction
    stream:
      bindings:
        processFailedTransaction-in-0:
          destination: failed.transaction.queue
          group: my-consumer-group
  security:
    oauth2:
      client:
        registration:
          # Název registrace (ID), které se bude používat v kódu
          external-system-client:
            provider: external-system-client
            client-id: "${EXTERNAL_CLIENT_ID:my-client-id}"
            client-secret: "${EXTERNAL_CLIENT_SECRET:my-secret}"
            authorization-grant-type: client_credentials
            # Scope je volitelný, záleží na externím systému
            scope: read,write
        provider:
            # Detaily o poskytovateli identity
          external-system-client:
              # URL, kam si Spring sáhne pro token
            token-uri: "${EXTERNAL_TOKEN_URI:https://auth.example.com/oauth/token}"


management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus # Povolí tyto endpointy
  endpoint:
    health:
      show-details: always # Ukáže detailní info o zdraví (např. jestli běží DB a Rabbit)
  metrics:
    tags:
      application: ${spring.application.name} # Přidá štítek s názvem aplikace ke všem metrikám
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true # Povolí histogramy pro latenci (důležité pro grafy)


